{% load i18n %}

{% block subject %}
{% blocktrans %}Reset your password on {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you requested a password reset for your account on {{ site_name }}.{% endblocktrans %}

{% trans "Please click on the following link to reset your password:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "If you didn't request a password reset, please ignore this email." %}

{% blocktrans %}Thanks for using our site!{% endblocktrans %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you requested a password reset for your account on {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Please click on the following link to reset your password:" %}</p>
<p><a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a></p>

<p>{% trans "If you didn't request a password reset, please ignore this email." %}</p>

<p>{% blocktrans %}Thanks for using our site!{% endblocktrans %}</p>

<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>
{% endblock html_body %}